.fleche {
    width: 2rem;
}
.fle {
    justify-content: center;
}

.historique {
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
}
#card1{
    background-color: rgb(56, 157, 239);
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
}
#card2{
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 3rem;
    background-color: rgb(56, 157, 239);
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
}
#card3 {
    background-color: rgb(56, 157, 239);
    width: 18rem;
    height: 18rem;
    border-radius: 10px;
    margin-top: 6rem;
}

.politique {
    justify-content: center;
    margin: 5px;
    margin-right: 10px;
}
#card4{
    color: white;
    font-size: 16px;
    background-color: rgb(16, 50, 73);
    width: 18rem;
    height: 18rem;
    border-radius: 40% 80% 70% 30% / 30% 58% 49% 70%;
}
#card5{
    margin-right: 5rem;
    margin-left: 5rem;
    color: white;
    font-size: 16px;
    background-color: rgb(16, 50, 73);
    width: 18rem;
    height: 18rem;
    border-radius: 40% 80% 70% 30% / 30% 58% 49% 70%;
}
#card6 {
    border-radius: 40% 80% 70% 30% / 30% 58% 49% 70%;
    background-color: rgb(16, 50, 73);
    width: 18rem;
    font-size: 16px;
    height: 18rem;
    color: white;
}
h3 span {
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50%  ;
    background-color: rgb(56, 157, 239);
}
